:root {
  --primary: #457B9D;
  --secondary: #1D3557;
  --hightlight: #A8DADC;
  --light: #F1FAEE;
  --bold: #E63946;
}

main {
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 6rem;
  color: var(--secondary);
}

.highlightName {
  color: var(--light);
  font-weight: bold;
}

hr {
  width: 33%;
  border-top: .5rem solid var(--light);
  margin-left: 0;
}

p {
  font-weight: 'Lato';
  font-weight: lighter;
  font-size: 2rem;
  color: var(--light);
}