:root {
  --primary: #457B9D;
  --secondary: #1D3557;
  --hightlight: #A8DADC;
  --light: #F1FAEE;
  --bold: #E63946;
}

html {
  font-size: 100%;
}

main {
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
}

/* header */


/* about page*/
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: var(--secondary);
  margin-bottom: 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: var(--light);
  padding: 2vw;
  text-align: center;
}

.highlightName {
  color: var(--light);
}

hr {
  width: 60%;
  border-top: .4rem solid var(--light);
  margin: 1.5vw auto 3vw 0;
}

p {
  font-weight: 'Lato';
  font-weight: lighter;
  font-size: 1rem;
  color: var(--light);
}

.about {
  padding: 2vw;
}
.about img {
  width: 100%;
  height: auto;
}

/* common style */

/*nav items */

.navItem {
color: var(--light);
list-style-type: none;
}

.navItem:hover {
  color: var(--hightlight);
}
.navActive {
  color: var(--hightlight);
}

.projectPhoto {
  width: 100%
}

.projectInfo {
  padding: 1rem 0 2rem 0;
}

a {
  text-decoration: none;
  color: var(--light);
  
}

.projectLink {
  background-color: var(--hightlight);
  text-align: center;
  padding:.25rem 0 .25rem 0;
}

.projectLink a {
  font-size: 1rem;
  color: var(--secondary);
}

.skills p {
  text-align: center;
}

button {
  background-color: var(--light);
  color: var(--secondary);
  padding: .25rem 1rem;
  border: none;
  margin-top: 3rem;
}

.form-label {
  color: var(--light);
  font-weight: bold;

}

.form-control {
  background-color: var(--primary);
}

footer img {
 width: 2rem;
}

.logo {
width: 40%;
}