:root {
  --primary: #457B9D;
  --secondary: #1D3557;
  --hightlight: #A8DADC;
  --light: #F1FAEE;
  --bold: #E63946;
}

html {
  font-size: 100%;
}

main {
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
}

/* about page*/
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 4.5rem;
  color: var(--secondary);
  margin-bottom: 0;
}

.highlightName {
  color: var(--light);
}

hr {
  width: 56%;
  border-top: .3rem solid var(--light);
  margin: 1.5vw auto 3vw 0;
}

p {
  font-weight: 'Lato';
  font-weight: lighter;
  font-size: 1.75rem;
  color: var(--light);
}

.container {
  display: flex;
  align-items:flex-end;
}

.aboutContent {
  padding: 0 3vw 3vw 3vw;
}

.about img {
  width: 50vw;
  height: auto;
}

/* common style */

.flex-row {
  display: flex;
}
/*nav items */

.navItem {
color: var(--light);
list-style-type: none;
padding: 1vw;
}
.navItem:hover {
  color: var(--hightlight);
}